<!DOCTYPE html>
<html lang="th" ng-app="MyApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/angular-material/angular-material.css">

    <title>SL Form</title>
</head>
<body ng-controller="ApplicationCtrl as sl">
    <div>
        {{sl.name}}
    </div>
</body>
    <script src="/node_modules/angular/angular.js"></script>
    <script src="/node_modules/angular-aria/angular-aria.js"></script>
    <script src="/node_modules/angular-animate/angular-animate.js"></script>
    <script src="/node_modules/angular-messages/angular-messages.js"></script>
    <script src="/node_modules/angular-material/angular-material.js"></script>

    <script src="/app/controllers/indexCtrl.js" type="text/javascript"></script>
    <script src="/app/app.js" type="text/javascript"></script>
</html>